{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card mb-4 mt-4">
                <div class="card-body">
                    <div class="card-title text-center">
                        <h2 class="logo-font text-dark">Why Us?</h2>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="logo-font text-dark">
                        About CNA Ireland: Your Trusted CBD Source
                    </h4>
                    <p class="text-dark">
                        Welcome to CNA Ireland, your trusted destination for premium CBD products. 
                        We're dedicated to enhancing your well-being through the power of nature, 
                        offering a wide range of high-quality CBD products that are designed 
                        to promote balance, relaxation, and overall wellness.
                    </p><br>
                    <h4 class="logo-font text-dark">
                        Our Commitment to Quality
                    </h4>
                    <p class="text-dark">
                        At CNA Ireland, we understand the importance of quality when it comes to CBD. That's why we go above and beyond to ensure that every product we offer meets the highest standards. 
                        Our commitment to quality begins with sourcing the finest hemp plants, grown organically and sustainably right here in Ireland. We work closely with local farmers who share our passion for purity and sustainability.
                        <br>                        
                        Our CBD extraction process is second to none. We use state-of-the-art technology to extract the full spectrum of beneficial compounds from the hemp plant while maintaining the highest levels of purity.
                        Every batch of CBD undergoes rigorous third-party testing to ensure its potency and safety.
                    </p><br>
                    <h4 class="logo-font text-dark">
                        A Product for Every Need
                    </h4>
                    <p class="text-dark">
                        At CNA Ireland, we believe that CBD has the potential to enhance lives in a variety of ways. That's why we offer a diverse range of products to suit your unique needs and preferences. 
                        Whether you're looking for CBD oils, capsules, edibles, topicals, or something else, we have you covered. 
                        Our product selection is carefully curated to provide you with options that cater to your specific wellness goals.
                    </p><br>
                    <h4 class="logo-font text-dark">
                        Education and Support
                    </h4>
                    <p class="text-dark">
                        We understand that navigating the world of CBD can be overwhelming. 
                        That's why we're here to provide you with the knowledge and support you need to make informed choices. 
                        Our team of experts is always available to answer your questions and guide you toward the right products for your needs.
                        We believe that education is key to unlocking the full potential of CBD, and we're committed to sharing our knowledge with you.
                    </p><br>
                    <h4 class="logo-font text-dark">
                        Your Trusted Partner in Wellness
                    </h4>
                    <p class="text-dark">
                        At CNA Ireland, we're more than just an online store; we're your trusted partner in wellness. 
                        We're driven by a deep commitment to helping you live your best life, naturally. 
                        Our mission is to make high-quality CBD products accessible to everyone, so you can experience the benefits of this remarkable plant compound.
                        <br>
                        Thank you for choosing CNA Ireland as your CBD source. 
                        We look forward to accompanying you on your journey to a healthier, more balanced life. 
                        Explore our product range, discover the power of CBD, and join our community of satisfied customers who have experienced the transformative effects of our products.
                        <br>
                        When you choose CNA Ireland, you're choosing quality, transparency, and a company that truly cares about your well-being. Welcome to a world of wellness, powered by nature.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}