<footer class="footer mt-auto py-3 bg-dark spacer">
    <div class="container">
        <p class="m-0 text-center text-light">Made by Shane Conway</p>
        <p class="m-0 text-center text-light"> <span class="me-2">Check Out Our:</span>
            <a href="#" class="text-muted me-2" data-bs-toggle="modal" data-bs-target="#modal-refund">Refund Policy</a>
            <a href="#" class="text-muted me-2" data-bs-toggle="modal" data-bs-target="#modal-returns">Returns Policy</a>
        </p>
        <p class="m-0 text-center text-light">
            <a href="{% url 'terms_and_conditions' %}"  class="text-light" style="text-decoration: none;">Terms and Conditions |</a>
            <a href="{% url 'privacy' %}" class="text-light me-2" style="text-decoration: none;">Privacy Policy</a>
        </p>
    </div>

    <div id="modal-refund" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color: black;">Refund Policy:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black;">At CNA Ireland, customer satisfaction is our top priority. 
                    If you are not completely satisfied with your purchase, 
                    please review our refund policy below:
                </p>
                <p style="color: black;">
                    1. Eligibility for Refund: To be eligible for a refund, your item must be unused, in its original packaging, and in the same condition as when you received it.
                </p>
                <p style="color: black;">
                    2. Refund Request: You may request a refund within 14 days of your purchase date.
                    To initiate a refund request, please contact our customer support team at 
                    custservcna@gmail.com.
                </p>
                <p style="color: black;">
                    3. Refund Process: Once your refund request is approved, 
                    we will process your refund within 5 business days.
                    The refund will be issued to the original payment method used for the purchase.
                </p>
                <p style="color: black;">
                    4. Non-Refundable Items: Certain items, such as opened and used products, are not eligible for refunds.
                </p>
                <p style="color: black;">
                    5. Shipping Costs: Shipping costs are non-refundable unless the return is due to an error on our part.
                </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    
    <div id="modal-returns" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color: black;">Returns Policy:</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: black;">At CNA Ireland, we want you to shop with confidence. 
                    If you need to return an item, please review our returns policy below:
                </p>
                <p style="color: black;">
                    1. Return Eligibility: You may return items within 30 days of your purchase date.
                    To be eligible for a return, your item must be unused, in its original packaging, 
                    and in the same condition as when you received it.
                </p>
                <p style="color: black;">
                    2. Return Process: To initiate a return, please contact our customer support team at custservcna@gmail.com.
                    Once your return is approved, we will provide you with instructions on how to send the item back to us.
                </p>
                <p style="color: black;">
                    3. Return Shipping: Customers are responsible for return shipping costs unless the return is due to an error on our part.
                </p>
                <p style="color: black;">
                    4. Refund or Exchange: You may choose to receive a refund or exchange for the returned item, depending on availability.
                </p>
                <p style="color: black;">
                    5. Non-Returnable Items: Certain items, such as perishable goods, cannot be returned for hygiene or safety reasons.
                    We strive to make the refund and return process as straightforward as possible to ensure your satisfaction with our products. If you have any questions or concerns, 
                    please don't hesitate to contact our customer support team. Your happiness is our priority.
                </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div> 
</footer>